<div class="mt-4">
  <h3>Danh sách khóa học đã xóa</h1>
  <a href="/me/stored/courses">Quay lại</a>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Tên khóa học</th>
          <th scope="col">Trình độ</th>
          <th scope="col" colspan="2">Thời gian tạo</th>
        </tr>
      </thead>
      <tbody>
        {{#each courses}}
        <tr>
          <th scope="row">{{sum @index 1}}</th>
          <td>{{this.name}}</td>
          <td>{{this.level}}</td>
          <td>{{this.createdAt}}</td>
          <td>
            <a href="" class="btn btn-link btn-restore" data-id="{{this._id}}">Khôi phục</a>
            <a href="" class="btn btn-link" data-toggle="modal" data-target="#delete-course-modal" data-id="{{this._id}}">Xóa vĩnh viễn</a>
          </td>
        </tr>
        {{else}}
         <tr>
          <td colspan="5" class="text-center">Thùng rác trống. <a href="/me/stored/courses">Quay lại</a></td>
        </tr>
        {{/each}}
      </tbody>
  </table>
</div>
  {{!-- Modal confirm delete course --}}
<div class="modal" tabindex="-1" role="dialog" id="delete-course-modal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa khóa học?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Hành động này không thể khôi phuc. Bạn chắc chắn muốn xóa khóa học này <span class="course-name"></span>?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
        <button type="button" class="btn btn-danger" id="confirm-btn">Xóa vĩnh viễn</button>
      </div>
    </div>
  </div>
</div>

<form method="post" name="delete-form"></form>
<form method="post" name="restore-form"></form>

<script>
  let courseId;
  let buttonConfirm = document.querySelector('#confirm-btn');
  let formDeleteCourse = document.forms['delete-form'];
  let formRestoreCourse = document.forms['restore-form'];
  //when dom loaded
  document.addEventListener("DOMContentLoaded", (event) => {
    $('#delete-course-modal').on('show.bs.modal', function (event) {
      let button = $(event.relatedTarget);
      courseId = button.data('id');
    })
    $('.btn-restore').click(function(e){
      e.preventDefault();
      let courseRestoreId = $(this).data('id');
      formRestoreCourse.action = `/courses/${courseRestoreId}/restore?_method=PATCH`;
      formRestoreCourse.submit();
    })
  })
  //when button confirm click
  buttonConfirm.onclick = function (event) {
    formDeleteCourse.action = `/courses/${courseId}/force?_method=DELETE`;
    formDeleteCourse.submit();
  }
</script>